<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ruonan Geng
              </h1>
              <p>I am currently a remote sensing algorithm engineer at Dadi Weattech. In 2015, I received my bachelor’s
                degree in engineering from Beihang University and in 2018, I obtained a master’s degree in
                photogrammetry and remote sensing from the same University.
              </p>
              <p>
                From 2018 to 2021, I worked at the China Academy of Space Technology, responsible for the cloud,
                atmospheric motion vector, polar regions sea ice retrieval algorithm, as well as radiation calibration
                process of some domestic satellite optical instruments. Since 2021, I have been responsible for
                retrieving urban air pollution and forest carbon sink from multi-source satellite data and
                meteorological parameters.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:gengruonan2014@163.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/gengruonan">GitHub</a> &nbsp;/&nbsp;
                <!--                <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp;-->
                <!--                <a href="https://www.linkedin.com/in/lkeselman"> LinkedIn </a>-->
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/gengnuonan.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Vocational Projects</h2>
              <p>
                In my previous work, I was proficient in using satellite instrument data to generate products about atmosphere, land and ocean. I am interested in combining AI algorithm with remote sensing to serve more application scenarios.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h3>
                Multi-source satellite data reception and processing application system
              </h3>
              <p>
                Responsible to process level 0 data to level 1 and generate cloud, dust, atmospheric motion vector, SST, sea fog, etc. Available instruments: Polar orbiting satellites(TERRA/AQUA-MODIS, FengYun 3C/FengYun 3D-MERSI, JPSS1/2-VIIRS, METOP B/C-AVHRR), geostationary satellites(FY4A-AGRI, GEO-KOMPSAT-2A-AMI, Himawari8-ABI) .At present, this system has been deployed in many airports, universities and government environmental monitoring centers.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/1.jpg">
            </td>
          </tr>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h3>
                Assessment of air quality in cities using satellite data
              </h3>
              <p>
                Responsible to evaluate the near-ground mass concentration of NO2, CO, SO2, O3 and PM2.5, PM10 using S5P-TROPOMI, Himawari8-ABI products and meteorological data, as well as analyze the causes and transmission processes of pollution. At presents, this system has been serving for Lvliang(Shanxi Province), Xuchang(Henan Province), and Tieling(Liaoning Province) Ecological Environment Bureau.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/20240304-110008.jpg">
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/20240304-110025.jpg">
            </td>
          </tr>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h3>
                Estimation of Carbon Sink of urban forest vegetation using satellite data
              </h3>
              <p>
                Responsible to comprehensively analyze urban forest carbon sink using TERRA/AQUA-MODIS, Sentinel 2-MSI products and high-resolution land distribution data. At presents, this system has been serving for Jiangsu Province Environmental Monitoring Center.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/20240304-110034.jpg">
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/20240304-110029.jpg">
            </td>
          </tr>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h3>
                National Satellite Meteorological Center FengYun-3D PGS(Product Generation System)
              </h3>
              <p>
                Responsible to develop algorithms for MERSI-II to generate CLM(cloud mask), CTH(cloud top height), CTT(cloud top temperature), atmospheric motion vector and polar regions sea ice products.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:50%;max-width:50%" alt="profile photo" src="images/20240304-110037.jpg">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

